//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 11 18:41:11 2022
//! **************************************************************************

SCHEMATIC START;
COMP "o_Segment_C" LOCATE = SITE "D17" LEVEL 1;
COMP "o_Segment_D" LOCATE = SITE "D16" LEVEL 1;
COMP "i_Clk" LOCATE = SITE "B8" LEVEL 1;
COMP "o_Segment_E" LOCATE = SITE "G14" LEVEL 1;
COMP "o_Segment_F" LOCATE = SITE "J17" LEVEL 1;
COMP "o_Segment_G" LOCATE = SITE "H14" LEVEL 1;
COMP "o_Segment_P" LOCATE = SITE "C17" LEVEL 1;
COMP "o_displaySelected<0>" LOCATE = SITE "F15" LEVEL 1;
COMP "o_displaySelected<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "o_displaySelected<2>" LOCATE = SITE "H17" LEVEL 1;
COMP "o_displaySelected<3>" LOCATE = SITE "F17" LEVEL 1;
COMP "i_UART_RX" LOCATE = SITE "U6" LEVEL 1;
COMP "o_bit_rx" LOCATE = SITE "J14" LEVEL 1;
COMP "o_Segment_A" LOCATE = SITE "L18" LEVEL 1;
COMP "o_Segment_B" LOCATE = SITE "F18" LEVEL 1;
NET "i_Clk_BUFGP/IBUFG" BEL "i_Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

